

:root {

  --c-b: #161616;
  --c-g: #262626;
  --c-g2: #464646;
  --c-g3: #666666;
  --c-y: #fed33a;
  --c-w: #f3e5ca;
  --c-o: #fe5e3a;
  --c-bl: #0000ff;
  --c-l: rgb(22, 22, 74);
  --c-r: rgb(105, 22, 22);
  --c-v: rgb(128, 122, 255);
  --c-gr: rgb(22, 111, 74);
}



* {

  margin: 0px;
  padding: 0px;

  font-family: Arial, 'Courier New', Courier, monospace;
  font-weight: 300;
  font-size: .8rem;

  box-sizing: border-box;

  width: auto;
  height: auto;

  mix-blend-mode: difference;
  
  outline: none;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.synthesizer * {

  mix-blend-mode: unset;
}

body {
  background-color: var(--c-b);
  color: var(--c-w);

  transition: 1s all;

  transition: 2s background-color;

  overflow-x: hidden;
  scrollbar-width: none;
  -ms-scrollbar: none;

  /* cursor: url('/src/assets/imgs/circle-sepia.gif'); */

  mix-blend-mode: difference;
}

::-webkit-scrollbar {
  display: none;
}
::-moz-scrollbar {
  display: none;
}
::-ms-scrollbar {
  display: none;
}

html {

  /* background-color: var(--c-b); */

  font-size: 14px;
  scrollbar-width: none;
/* 
  background-image: url('/src/assets/imgs/noise4.jpg');
  background-size: 200%;
  background-repeat: no-repeat; */

  mix-blend-mode: unset;
  
}

canvas {
  mix-blend-mode: difference;
}

input { 
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



.shadow {

  box-shadow: 10px 10px 5px 5px #444 inset;
}

#app {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
}








.btn {

  display: inline-block;

  min-width: 25px;
  /* width: 25px; */
  height: 25px;
  line-height: 25px;

  /* padding: 0px 10px; */

  text-align: center;

  background-color: var(--c-y);;
  color: var(--c-b);

  /* border-radius: 100%; */

  transition: .4s background-color, .4s color;

  cursor: pointer;
}
.btn:hover,
.btn:active,
.btn.active { 

  color: var(--c-y);

  background-image: url('/src/assets/imgs/circle-monochrome.gif');
  background-size: 1000%;
  background-position: center;
  background-repeat: no-repeat;

  mix-blend-mode: luminosity;
}
.btn.deactivated {

  cursor: default;

  background-color: var(--c-bl);
  color: var(--c-y);
/* 
  background-color: var(--c-y);;
  color: var(--c-b); */
  background-image: none;
  mix-blend-mode: difference;
}

.btn input {

  display: block;

  border: none;

  background-color: transparent;

  text-align: center;

  width: 25px;
  height: 25px;

  background-color: var(--c-y);
  color: var(--c-b);

  transition: .4s background-color;
}
.btn input:focus,
.btn input:hover,
.btn input:active {

  background-color: var(--c-w);
}

.shifting-GIF {

  /* background-blend-mode: difference; */

  background-image: url('/src/assets/imgs/circle-monochrome.gif');
  background-size: 1000%;
  background-position: center;
  background-repeat: no-repeat;
}

