

:root {

    --c-b: #161616;
    --c-g: #fed33a;
    --c-w: #f3e5ca;
    --c-o: #fe5e3a;

}



* {

    margin: 0px;
    padding: 0px;

    font-family:'Courier New', Courier, monospace;
    font-weight: 600;

    box-sizing: border-box;

    width: auto;
    height: auto;
}

body {
    background-color: var(--c-b);
    color: var(--c-w);

    transition: 1s all;
}

html {
    font-size: 14px;
}



/* Keyboard */

#keyboard {

    margin-top: 50px;

    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.key {

    width: 30px;
    height: 130px;

    background-color: var(--c-w);

    margin: 0px 1px;

    font-size: .9rem;
    color: var(--c-b);
    text-align: center;

    padding-top: 5px;
    /* border-radius: 3px; */

    transition: .2s transform;
}

.black {
    background-color: var(--c-g);
    height: 100px;
    color: var(--c-b);
}

.pressed {

    background-color: var(--c-o);
}

#record.recording {

    background-color: red;
}


/* Effects */
#effect-chain {

    width: 100%;
}

#effects {

    display: flex;
    justify-content: left;
    align-items: center;
}

.effect {

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;

    background-color: var(--c-b);
    color: var(--c-w);

    min-width: 70px;
    min-height: 70px;

    border: 1px solid var(--c-w);
}

.effect .effect-title {

    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    text-align: center;
}


.effect .delete {

    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.effect .delete:hover {
    color: var(--c-o);
}



/* UI */


.btn {

    display: inline-block;

    height: 30px;
    line-height: 30px;

    padding: 0px 10px;

    text-align: center;

    background-color: var(--c-w);;
    color: var(--c-b);

    border-radius: 3px;

    transition: .1s background-color;

    cursor: pointer;
}

.btn:hover { background-color: var(--c-o); }
.btn:active { background-color: var(--c-o); }


.knob {

    cursor: grab;

    width: 40px;
    height: 40px;

    border-radius: 100%;

    background-color: var(--c-w);
    color: var(--c-b);

    font-size: 0.8rem;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: flex-start;


    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.knob-pointer {

    width: 3px;
    height: 50%;

    background-color: var(--c-o);
}